---
import type { Link } from "../model";

type Props = Link;

const { href, name, description } = Astro.props;

const { default: SVGIcon } = await import(`../assets/icons/${name}.svg?raw`);
---

<a href={href} target="_blank">
  <span class="sr-only">{description}</span>
  <Fragment set:html={SVGIcon} />
</a>

<style lang="less">
  @import (reference) "../../../shared/styles/tokens.less";

  a {
    display: flex;
    color: @color-subtle;
    .color-transition();
    .hover-color();
  }
</style>
