<div class="wrapper">
  <img alt="Oops! Page was not found!" src="/404.webp" />
</div>

<style lang="less">
  @import (reference) "../../../shared/styles/tokens.less";

  .wrapper {
    .flex-center();
    align-content: center;
  }
</style>
