---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div class="wrapper">
    <img alt="Oops! Page was not found!" src="/404.webp" />
  </div>
</DefaultLayout>

<style lang="less">
  @import (reference) "../styles/tokens.less";

  .wrapper {
    .flex-center();
    align-content: center;
  }
</style>
