---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Specialization from "../components/organisms/Specialization.astro";
import { THOUGHTS, EXPERIENCE } from "../consts.ts";
---

<DefaultLayout>
  <section>
    <h1>Hello, my name is Kirill!</h1>
    <p>I am IT enthusiast from Moscow.</p>
  </section>
  <section class="thoughts">
    <h2>Some thoughts:</h2>
    {THOUGHTS.map((thought) => <blockquote>{thought}</blockquote>)}
  </section>
  <section class="experience">
    <h2>I have worked with:</h2>
    {EXPERIENCE.map((specialization) => <Specialization {...specialization} />)}
  </section>
</DefaultLayout>

<style>
  section {
    margin-top: 2rem;
  }

  .thoughts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
