---
import { SITE_TITLE } from '../../consts';
import HeaderLink from '../atoms/HeaderLink.astro';
import SocialLinks from "./SocialLinks.astro";
---

<header>
	<nav>
		<a href="/">
			<div class="logo">
				<img alt="favicon" src="/logo.webp" width=48 height=48/>
				<h2>{SITE_TITLE}</h2>
			</div>
		</a>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog (TODO)</HeaderLink>
		</div>
		<div class="social-links">
			<SocialLinks/>
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1rem;
		background: var(--ctp-mocha-mantle);
		box-shadow: 0 0.125rem 0.5rem rgba(var(--ctp-mocha-crust), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1rem;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1rem 0.5rem;
		color: var(--ctp-mocha-text);
		border-bottom: 0.25rem solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--ctp-mocha-accent);
	}

	.logo {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	@media (max-width: 720px) {
		.social-links {
		display: none;
	    }
	  }
</style>
