---
import SocialLink from "../atoms/SocialLink.astro";
import { LINKS } from "../../consts";
---

<div class="social-links">
  {LINKS.map((props) => <SocialLink {...props} />)}
</div>

<style lang="less">
  @import (reference) "../../styles/tokens.less";

  .social-links {
    .flex-center();
    gap: @space-md;
  }
</style>
