---
import SocialLinks from "../molecules/SocialLinks.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Kirill Udaltsov. All rights reserved.
  <div class="social-links">
    <SocialLinks />
  </div>
</footer>

<style lang="less">
  @import (reference) "../../styles/tokens.less";

  footer {
    padding: @space-2xl @space-md @space-6xl;
    background: @color-mantle;
    color: @color-text;
    text-align: center;
  }

  .social-links {
    margin-top: @space-md;
  }
</style>
