---
import SocialLinks from "../molecules/SocialLinks.astro";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Kirill Udaltsov. All rights reserved.
  <div class="social-links">
    <SocialLinks />
  </div>
</footer>

<style>
  footer {
    padding: 2rem 1rem 6rem 1rem;
    background: var(--ctp-mocha-mantle);
    color: var(--ctp-mocha-text);
    text-align: center;
  }

  .social-links {
    margin-top: 1rem;
  }
</style>
