---
import Technology from "../molecules/Technology.svelte";
import type { Specialization } from "../../consts.ts";

type Props = Specialization;

const { name, technologies } = Astro.props;
---

<section>
  <h3>{name}</h3>
  <div class="technologies">
    {
      technologies.map((technology) => (
        <Technology client:only="svelte" {...technology} />
      ))
    }
  </div>
</section>

<style lang="less">
  @import (reference) "../../styles/tokens.less";

  section {
    margin-top: @space-md;
    .flex-column();
    align-items: center;
  }

  .technologies {
    width: 100%;
    gap: @space-md;
    display: grid;
    .grid-columns(3);

    @media (max-width: @breakpoint-technologies-two-columns) {
      .grid-columns(2);
    }

    @media (max-width: @breakpoint-technologies-one-column) {
      .grid-columns(1);
    }
  }
</style>
