---
import BaseHead from '../components/atoms/BaseHead.astro';
import Footer from '../components/molecules/Footer.astro';
import Header from '../components/molecules/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="container">
			<Header />
			<main class="content">
				<slot/>
			</main>
			<Footer />
		</div>
	</body>
</html>

<style>
	.container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.content {
		flex: 1;
	}
</style>
